@{
    ViewBag.Title = "AspNetUsers Access Denied";
}

<div>

    <div class="row heading">

        <div class="col-md-6 vcenter">
            <h2>您所前往的網頁無法存取</h2>
        </div>

    </div>
    <div class="row heading">

        <div class="col-md-6 vcenter">
            @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-info" })

        </div>

    </div>

    

    <hr />

</div>

