<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--<add name="mysqlEntities" connectionString="metadata=res://*/Areas.Admin.Models.Model.csdl|res://*/Areas.Admin.Models.Model.ssdl|res://*/Areas.Admin.Models.Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.62.209.114;user id=ohbear;password=ohbear1234;CharSet=utf8;database=201508_ohbear_event;persistsecurityinfo=True;&quot;" providerName="System.Data.EntityClient" />-->

    <!-- 無後台功能權限區分 -->
    <add name="DefaultConnection" connectionString="Data Source=10.0.1.5;Initial Catalog=Demo;User ID=sa;Password=De$1gnL@b" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Areas.Example.Models.Demo.csdl|res://*/Areas.Example.Models.Demo.ssdl|res://*/Areas.Example.Models.Demo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.1.5;initial catalog=Demo;user id=sa;password=De$1gnL@b;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- 有後台功能權限區分-->
    <!--
        <add name="DefaultConnection" connectionString="Data Source=10.0.1.5;Initial Catalog=DemoRoles;User ID=sa;Password=De$1gnL@b" providerName="System.Data.SqlClient" />
        <add name="Entities" connectionString="metadata=res://*/Areas.Example.Models.Demo.csdl|res://*/Areas.Example.Models.Demo.ssdl|res://*/Areas.Example.Models.Demo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.1.5;initial catalog=DemoRoles;user id=sa;password=De$1gnL@b;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="ImageEntity" connectionString="data source=10.0.1.5;initial catalog=Demo;user id=sa;password=De$1gnL@b;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>